.testimonial {
  display: grid;
  grid-auto-rows: 1fr min-content;
}

.testimonial-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color--white);
}

.testimonial-bottom p {
  margin: 0;
}

.testimonial-top img {
  width: 72px;
  height: 52px;
}

.testimonial-bottom img {
  margin-top: -40px;
  width: 120px;
  height: 120px;
}

.testimonial-item-name {
  color: var(--color--white);
}
