.top-section {
  height: 100vh;
  display: flex;
}

.top-section p,
.top-section label, /* this is used during demo */
.top-section h1,
.top-section h3 {
  color: var(--color--white);
}

.top-section-top,
.top-section-top .top-section-top-content,
.top-section .top-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
}

.top-section .top-section-content {
  text-align: left;
  flex-wrap: wrap;
  height: 100%;
}

.top-section-dimmer-light,
.top-section-dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.top-section-dimmer {
  background-color: rgba(1, 12, 28, 0.8);
}

.top-section-content-layout > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-section-content-left,
.top-section-content-right {
  flex: 0 0 50%;
  @media screen and (max-width: 900px) {
    flex: 0 0 100%;
  }
}

.top-section-content-left {
  position: relative;
  z-index: 2;
}
