name: Integrate
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v4
        with:
          path: .yarn/cache
          key: yarn-${{ hashFiles('yarn.lock') }}
      - run: >
          yarn config set
          npmScopes.siteimprove.npmAuthToken
          ${{ secrets.GITHUB_TOKEN }}
      - run: yarn install --immutable
      - name: Install Playwright browsers
        # https://playwright.dev/docs/ci-intro
        run: yarn playwright install
      - run: yarn dedupe --check
      - run: yarn build
      - run: yarn test
      - run: yarn knip
